Обнуление
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pinter;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

* {
	font-family: 'Press Start 2P', cursive;
}

body {
	background-color: lightgrey;
}

body.boardScaleStop {
	overscroll-behavior: none;
	overflow: hidden;
}


h1 {
	font-size: 34px;
}

a {
	color: black;
	transition: 0.2s;
}


.wrapper{
	max-width: 800px;
	min-height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.wrapper.boardScaleStop {
	overscroll-behavior: none;
	overflow: hidden;
	touch-action: none; 
}

.header {
	max-height: 200px;
	display: grid;
	grid-template-columns: 1fr 1fr 0.1fr;
	color: black;
	align-items: center;
}

.logo {
	justify-self: left;
}

.logoLink:hover {
	font-size: 50px;
}

.menuList {
	display: flex;
	justify-content: space-between;
}

.memuListLink {
	display: flex;
	transition: all 0.2s ease;
}

.memuListLink:hover {
	font-size: 22px;
}


@media(max-width: 600px) {
	.menu {
		width: 70vw;
		
		margin: auto;
		display: block;
		position: absolute;
		top: -100%;
		border: solid 2px black;
		border-radius: 20px;
		background: darkgrey;
		line-height: 50px;
		transition: all 1s ease;
	}

	.menuList {
		display: flex;

		flex-direction: column;
	}

	.menu.openMenu {
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		z-index: 2;
	}


	.menuBurger {
		position: relative;
		width: 40px;
		height: 35px;
		display: block;
		transition: all 0.4s ease;
		justify-self: end;
	}

	.menuBurger span, 
	.menuBurger:before, 
	.menuBurger:after {
		content: "";
		position: absolute;
		background-color: black;
		width: 100%;
		height: 5px;
		margin: 0 auto;
	}

	.menuBurger:before {
		top: 5px;
		transition: 0.5s;
	}

	.menuBurger:after {
		bottom: 5px;
		transition: 0.5s;
	}

	.menuBurger span {
		top: 15px;
		transition: 0.5s;
	}
	.menuBurger.openMenu span {
		opacity: 0;
		transition: 0.5s;
	}

	.menuBurger.openMenu:before {
		transform: rotate(38deg);
		top: 16px;
		transition: 0.4s;
	}

	.menuBurger.openMenu:after {
		transform: rotate(-38deg);
		top: 16px;
		transition: 0.4s;
	}
}

.content {
	flex: 1 1 auto;
	min-height: 100%;
}

.tutorial {
	position: absolute;
	background-color: darkgray;
	border: solid 2px black;
	border-radius: 40px;
	top: -1000%;
	transition: 1s;
	z-index: 3;
}

.tutorial.showTutorial {
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

@media (max-height: 550px) {
	.tutorial.showTutorial {
		transform:translate(-50%, -20%);
	}
}

@media (max-width: 350px) {
	.tutorial.showTutorial {
		transform:translate(-50%, -20%);
	}
}

.stopScaleKey {
	margin-top: 20px;
	display: grid;
	grid-template-columns: minmax(35%, auto) minmax(auto, 700px);
	align-items: center;
}

.StopScaleImg {
	background-color: darkred;
	border-radius: 20px;
	justify-self: center;
}

.otherKeysList {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.containerForKeysAndArrows {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.keysList {
	display: grid;
	grid-template-areas: 
		"up up up"
		"left down right";
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
}

.upkey {
	grid-area: up;
}

.leftkey {
	grid-area: left;
}

.downkey {
	grid-area: down;
}

.rightkey {
	grid-area: right;
}

.arrowsList {
	display: grid;
	grid-template-areas: 
		"up up up"
		"left down right";
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
}

.swipeList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
}

.upArrow {
	grid-area: up;
}

.leftArrow {
	grid-area: left;
}

.downArrow {
	grid-area: down;
}

.rightArrow {
	grid-area: right;
}

@media(max-width: 400px) {
	.containerForKeysAndArrows {
		grid-template-columns: 1fr;
	}
}

@media(max-width: 200px) {
	.swipeList {
		grid-template-columns: 1fr;
	}

}

.tutorialImg {
	transition: 0.5s;
}

.tutorialImg:hover {
	transform: scale(1.2);
}

.grid {
	margin:auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 20px;
	max-width: 700px;
}

.right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game-board {
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-radius: -5px;
	justify-self: center;
}

.stopScaleButton {
	max-width: 250px;
	background-color: lightgrey;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	color: black;
	transition: 0.2s;
	align-self: flex-start;
}

.stopScaleButton.boardScaleStop {
	background-color: darkred;
}

.stopScaleButton:hover {
	transform: scale(1.5);
}

.pauseButton{
	max-width: 250px;
	background-color: lightgrey;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	color: black;
	transition: 0.2s;
	align-self: flex-start;
}

.pauseButton:hover {
	transform: scale(1.5);
}

.play-button {
	max-width: 250px;
	background-color: lightgrey;
	font-size: 16px;
	padding: 15px 30px;
	cursor: pointer;
	border: solid 2px black;
	border-radius: 20px;
	color: black;
	transition: 0.2s;
}

.play-button:hover {
	transform: scale(1.2);
}

.controlPanel {
	position: absolute;
	left: -500%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 150px 150px 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
		"turn turn speedDown"
		"left right none"
		"down down none";
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	transition: all 2s ease;
	z-index: 1;
}

.controlPanel.show {
	position: relative;
	left: 0%;
	background-color: darkgray;
	border:solid 2px black;
	border-radius: 30px;
	z-index: 1;
}


.control {
	border: none;
	background-color: lightgrey;
	border-radius: 20px;
}

.comtrol:hover {
	transform: none;
}

.turn {
	grid-area: turn;
	margin: 10px 0px 0px 0px;
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

.down {
	grid-area: down;
	margin: 0px 0px 10px 0px;
}

.speedDown {
	grid-area: speedDown;
	justify-self: start;
	margin: 10px 0px 0px 0px;
}

.pause {
	grid-area: pause;
}



.showControlPanel {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.showControlButton {
	max-width: 250px;
	background-color: lightgrey;
	font-size: 16px;
	padding: 15px 15px;
	cursor: pointer;
	border: solid 2px black;
	border-radius: 20px;
	color: black;
	transition: all 1s ease;
}

.showControlButton:hover {
	transform: scale(1.2);
}



.footer{
	margin-top: 40px;
	max-height: 40px;
}


.socialMediaList {
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 400px) {
	.socialMediaList {
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
}


.socialMediaItem {
	width: 50px;
	height: 50px;
	transition: 0.2s;
}

.socialMediaItem:hover {
	transform: scale(1.5);
}

.socialMediaImg {
	width: 100%;
}









