Обнуление
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pinter;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

* {
	font-family: 'Press Start 2P', cursive;
  }
  body {
	background-color: lightgrey;
}

@media (max-width: 400px) {
body {
	overscroll-behavior-x: contain;
	overflow-y: hidden;
}
}

h1 {
	font-size: 34px;
}

a {
	color: black;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

a:hover {
	font-size: 24px;
}

.wrapper{
	max-width: 800px;
	min-height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.header {
	max-height: 200px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: black;
	align-items: center;
}

.logo {
	justify-self: left;
}

.logoLink:hover {
	font-size: 50px;
}

.menu {
	text-align: center;
}

.menuList {
	display: flex;
	justify-content: space-between;
}

.content {
	flex: 1 1 auto;

}

.grid {
	margin:auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 20px;
	max-width: 700px;
}

.right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game-board {
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-radius: -5px;
	justify-self: center;
}

.play-button {
	max-width: 250px;
	background-color: lightgrey;
	font-size: 16px;
	padding: 15px 30px;
	cursor: pointer;
	border: solid 2px black;
	border-radius: 20px;
	color: black;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

.play-button:hover {
	font-size: 34px;
}

.footer{
	margin-top: 15px;
	max-height: 40px;
}


.footerList {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img {
	transition: 0.2s;
}

img:hover {
	transform: scale(1.5);
}






