/* Обнуление
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pinter;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} */

* {
	font-family: 'Press Start 2P', cursive;
  }
  body {
	overscroll-behavior-x: contain;
	overflow-y: hidden;
	background-color: darkgrey;
	
  }
  .wrapper{
	max-width: 900px;
	margin: auto;
	
  }
  .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
  }
  
  .right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  .game-board {
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-radius: 10px;
	justify-self: center;
  }
  
  .play-button {
	max-width: 250px;
	background-color: darkgrey;
	font-size: 16px;
	padding: 15px 30px;
	cursor: pointer;
	border-radius: 20px;
  }

